@media (max-width: 1325px) {
  .footer__top_content{
    flex-wrap: wrap;
  }
  .footer__col.social{
    max-width: unset;
    width: 48%;
  }
  .footer__support{
    max-width: unset;
    width: 49%;
  }
}

// @media (max-width:1450px) {
//   .footer__col.social{
//     max-width: unset;
//     width: 23%;
//   }
//   .footer__support{
//     max-width: unset;
//     width: 23%;
//   }
// }


@media screen and (max-width: 992px) {
  .footer__catalog, .footer__menu {
    display: none;
  }
  .footer__bottom_payment-wrapper {
    justify-content: flex-start;
    img {
      transform: scale(0.8);
    }
  }
  .footer__bottom_content {
    flex-wrap: wrap;
  }

  .footer__form {
    position: relative;
    padding-bottom: 50px;
    &_left {
      width: 100%;
    }
    &_right {
      width: 100%;
    }
    &_privacy {
      position: absolute;
      bottom: 10px;
    }
    &_container {
      flex-direction: column;
      gap: 10px;
    }
    &_input {
      width: 100%;
      max-width: none;
      text-align: left;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer__top {
    padding: 24px 0;
  }
  .footer__social_item,
  .footer__support_item{
    svg{
      // width: 32px;
      // height: 32px;
    }
  }
  .footer p, .footer a{
    font-size: 14px;
  }
  .footer__form_title {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    // margin-top: 80px;
    &__top_content {
      gap: 10px; 
    }
    &__title {
      font-size: 12px;
    }
    &__support {
      max-width: 195px;
      &_title {
        font-size: 12px;
      }
      &_phone {
        font-size: 17px !important;
      }
    }
    &__top {
      padding-bottom: 30px;
    }
    &__bottom {
      padding-top: 8px;
      padding-bottom: 56px;

      &_content {
        flex-direction: column;
        gap: 0px;
      }
      p, a, .footer__bottom_copy {
        font-size: 12px ! important;
      }
    }


  }
  .footer__form {
    position: relative;
    padding-bottom: 70px;
    &_input, &_button {
      height: 40px;
      font-size: 14px;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }
  .footer__form_title {
    display: block;;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 6px;
  }
  .footer__form_right {
    flex-direction: column;
    gap: 10px;
  }
  .footer__support_wrapper, .footer__col {
    gap: 20px;
  }
  .footer__buttons_item {
    white-space: nowrap;
    height: 40px;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
  }
  .footer__form_privacy{
    top: 190px;
    bottom: unset;
    font-size: 12px;
  }
}

// @media screen and (max-width: 425px) {
//   .footer__form_right {
//     flex-direction: column;
//   }
//   .footer__form_button {
//     width: 100%;
//   }
// }

// @media screen and (max-width: 355px) {
//   .footer__buttons, .footer__news_form {
//     grid-template: auto / 1fr !important;
//   }
// }