.advantages{
    padding-bottom: 48px;
    &_header{
        margin-bottom: 32px;
        
        p{
            font-weight: 400;
            font-size: 24px;
            color: #2C3336;
        }

    }

    &_content{
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    &_text{
        display: flex;
        flex-direction: column;
        gap: 16px;

        span{
            color: #2C3336;
            font-weight: 600;
        }
    }
    &_feedback{
        width: 602px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #F7F7F8;
        padding: 24px;

        h3{
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 10px;
        }

        p{
            font-weight: 300;
            margin-bottom: 16px;
        }
        &-bottom{
            position: relative;
            
        }
        &-form{
            display: flex;
            align-items: center;
            gap: 16px;

            input{
                width: 230px;
                height: 52px;
                border-radius: 16px;
                padding: 17px 16px;
                background-color: #fff;
                border: 1px solid #EFEFEF;
                outline: none;
                font-size: 18px;

                &::placeholder{
                    color: #758289;
                    font-weight: 300;
                }
            }
            button{
                padding: 13.5px 16px;
                border: none;
                height: 52px;
                width: 178px;
            }
        }
        &-socials{
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: 10px;
            a{
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 4px 8px #0000000f;
                border-radius: 16px;
                transition: all .2s ease;
                background-color: #FFF;
            }
        }
    }

    &-list{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
        margin-top: 40px;

        &__item{
            padding: 24px;
            background: #F7F7F8;
            border-radius: 24px;

            h4{
                font-weight: 600;
                margin-bottom: 8px;
                line-height: normal;
            }

            &-icon{
                width: 44px;
                height: 44px;
                margin-bottom: 16px;
                border-radius: 13px;
                background: #0071E3;
                display: flex;
                align-items: center;
                justify-content: center;    
                svg{
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                }

            }
        }
    }
}


@media  screen and (max-width: 1500px) {
    .advantages-list{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 1200px) {
    .advantages_content{
        flex-direction: column;
        gap: 24px;
    }
    .advantages_feedback{
        // width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .advantages_feedback{
        width: 100%;
    }
    .advantages_feedback-form{
        flex-direction: column;
        align-items: flex-start;

        input{
            width: 100%;
        }
        button{
            width: calc(100% - 135px);
        }
    }
    .advantages-list{
        grid-template-columns: repeat(2, 1fr);
    }
}