.blogs{
    padding-bottom: 48px;
    &_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 32px;
    }

    &_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    &_item{
        border-radius: 32px;
        background: #F7F7F8;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

       
        img{
            width: 100%;
            height: 556px;
            object-fit: cover;
            object-position: left;
            border-radius: 16px;
        }
        &-btns{
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: auto;
        }
        &-btn{
            border-radius: 16px;
            border: 1px solid #E1E1E5;
            padding: 9px 16px 11px;
            font-size: 16px;
            font-weight: 400;
            color: #70828A;
            white-space: nowrap;
            height: 40px;
            transition: all .2s ease;
            &:hover{
                border: 1px solid #0071E3;
                background: #0071E3;
                color: #fff;
                font-weight: 500;
            }
        }
    }
    &_item:first-child{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    &_date{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 300;
        color: #70828A;
        width: max-content;
    }
}

@media (max-width: 1200px) {
    .blogs_item img{
        height: 460px;
    } 
}
@media (max-width: 1000px) {
    .blogs_list{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .blogs{
        margin: 16px 0;
        position: relative;
        padding-bottom: 52px;

        .view-all-btn{
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
            height: 36px;
            gap: 8px;
            border-radius: 16px;
            border: 1px solid #0071E333;
            font-size: 14px;
            font-weight: 500;
            padding: 9px 15px;

            svg{
                width: 6px;
                height: 11px;
            }
        }
    }
    
    .blogs_header{
        margin-bottom: 16px;
    }
    .blogs_list{
        gap: 8px;
    }
    .blogs_item{
        border-radius: 24px;
        padding: 16px;
        gap: 8px;
        
        &:not(:first-child):not(:nth-child(2)){
            display: none;
        }
        img{
            height: auto;
            aspect-ratio: 366/208;
        }

        h4{
            font-size: 16px;
            line-height: 20px;
        }
        p{
            font-size: 14px;
        }
        &-btn{
            font-size: 14px;
            padding: 8px 16px 10px;
            height: 36px;
        }
    }
    .blogs_item-btns{
        justify-content: space-between;
    }
    .blogs_date{
        font-size: 13px;
    }
    
}